.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  letter-spacing: .2px;
}

.category-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.category-thumbnail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.category-title {
  font-size: 20px;
  letter-spacing: .5px;
  margin-bottom: 15px;
  display: block;
}

.category-title a {
  color: #007bff;
  text-decoration: none;
}

.category-title a:hover {
  color: #0056b3;
}

.category-title-hover-menu {
  background-color: #fff;
  color: #409bfc;
  line-height: 1.4;
  font-size: 14px;
}

.hover-menu-wrapper:hover .hover-menu-immutable {
  display: block;
}

.category-description {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.request-category-info {
  display: flex;
  justify-content: space-between;
}

.request-category-info > * {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  letter-spacing: .1px;
}

.toggle-content-button,
.show-category-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.toggle-content-button:hover,
.show-category-link:hover {
  text-decoration: underline;
}

.category-courses {
  display: flex;
  flex-direction: column;
}

.course-label {
  color: #555;
  font-size: 15px;
  margin-right: 5px;
  margin-top: 12px;
  margin-bottom: 3.5px;
}

.category-course {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
}

.category-course:hover {
  color: #0056b3;
  text-decoration: underline;
}

.courses-link-hover-menu {
  background-color: rgba(255, 255, 255, 0.9);
  color: #586b81;
  font-size: inherit;
}