/* Styles for navigation bar */
.navigation-bar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #659DBD;
    padding: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

/* Styles for app title */
.app-title {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight: 600;
    letter-spacing: .045em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.app-title:hover {
    color: antiquewhite;
    letter-spacing: .065em;
}

/* Styles for navigation links */
.navigation-links a {
    display: inline-flex;
    align-items: center;
    margin-right: 14px;
    letter-spacing: 0.025em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, text-shadow 0.3s;
    cursor: pointer;
}

.navigation-links a:hover {
    color: #FFC56D;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Styles for dropdown menu and navigation links */
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #659DBD;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    color: #FFC56D;
}

.dropdown-menu li {
    list-style-type: none;
    margin: 5px 0;
}

.dropdown.open .dropdown-menu {
    display: block;
}
