/* Styles for navigation bar */
.navigation-bar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #659DBD;
    padding: 10px;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
}

/* Styles for app title */
.app-title-container {
    position: relative;
}

.app-title {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 145%;
    font-weight: 600;
    letter-spacing: .045em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Styles for app title hover menu */
.hover-menu {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.app-title-container:hover .hover-menu {
    display: block;
}

/* Styles for navigation links */
.navigation-links a {
    display: inline-flex;
    align-items: center;
    margin-right: 14px;
    letter-spacing: 0.025em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, text-shadow 0.3s;
    cursor: pointer;
}

.navigation-links a:hover {
    color: rgba(255, 197, 109, 1);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Styles for dropdown menu and navigation links */
.dropdown-menu {
    background-color: #659DBD;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    color: rgba(255, 197, 109, 1);
}

/* Styles for authentication links */
.auth-links {
    display: flex;
}

.auth-links-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}